<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.dao.PrivilegetableMapper">
  <resultMap id="BaseResultMap" type="com.lm.po.Privilegetable">
    <id column="privilege_id" jdbcType="INTEGER" property="privilegeId" />
    <result column="userType_id" jdbcType="INTEGER" property="usertypeId" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
    <result column="privilege" jdbcType="CHAR" property="privilege" />
  </resultMap>
  <sql id="Base_Column_List">
    privilege_id, userType_id, module_id,privilege
  </sql>
    <!-- 新增权限 -->
	<insert id="insertPrivilege" parameterType="com.lm.po.Privilegetable">
	    insert into Privilegetable(
	      userType_id, module_id,privilege
	    )values(
	       #{usertypeId,jdbcType=INTEGER},#{moduleId,jdbcType=INTEGER},
	       #{privilege,jdbcType=CHAR}
	    )
	</insert>
	   <!-- 根据用户类型id进行删除 权限-->
	   <!--为什么用_parameter参数    Mybatis默认采用ONGL解析参数，所以会自动采用对象树的形式取Integer.cmpid。Integer对象没有cmpid属性。 -->
<!-- 如果不解析参数，mybatis自动识别传入的参数，不会报错。 -->
	<delete id="deletePrivilegeBYusertypeId" parameterType="java.lang.Integer">
		delete from Privilegetable
		<where> 
 			<if test="_parameter !=null and _parameter !=''"> 
 				userType_id=#{_parameter,jdbcType=INTEGER}
 			</if> 
       </where> 
	</delete>
	 <!--根据用户类型ID查询用户权限信息 -->
  <select id="selectPrivilegeByUserTypeid" resultMap="BaseResultMap">
	select Privilegetable.* from Privilegetable
     <where> 
 			<if test="_parameter !=null and _parameter !=''"> 
 				Privilegetable.userType_id =#{_parameter,jdbcType=INTEGER}
 			</if> 
     </where> 
  </select>
</mapper>